main {
  min-height: 80vh;
}
/* card */
.card-height {
  color: rgb(64, 64, 248);
  height: 90%;
}
.card-grid {
  color: rgb(64, 64, 248);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
}

/* 404 error */
.font-responsive {
  font-size: 1rem;
}
@media (min-width: 576px) {
  .font-responsive {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .font-responsive {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .font-responsive {
    font-size: 2rem;
  }
}
.responsive-image {
  width: 95%;
  max-height: 70vh;
}
